<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
  <link rel="shortcut icon" href="{{ site_url }}/assets/img/favicon.png" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600&subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="{{ site_url }}/assets/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site_url }}/assets/vendor/swiper/css/swiper.min.css">
  <link rel="stylesheet" href="{{ site_url }}/assets/vendor/air-datepicker/css/datepicker.min.css">
  <link rel="stylesheet" href="{{ site_url }}/assets/css/main.min.css">
</head>

<body class="body {{ body_class }}">
{% block body %}
{% endblock %}
<script src="{{ site_url }}/assets/vendor/jquery.min.js"></script>
<script src="{{ site_url }}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ site_url }}/assets/vendor/swiper/js/swiper.min.js"></script>
<script src="{{ site_url }}/assets/vendor/jquery.validate.min.js"></script>
<script src="{{ site_url }}/assets/vendor/jquery.inputmask.bundle.min.js"></script>
<script src="{{ site_url }}/assets/vendor/jquery.countdown.min.js"></script>
<script src="{{ site_url }}/assets/vendor/js.cookie.min.js"></script>
<script src="{{ site_url }}/assets/vendor/air-datepicker/js/datepicker.min.js"></script>
<script src="{{ site_url }}/assets/js/main.min.js"></script>
</body>
</html>
