{% extends "base.html" %}

{% block title %}{{ title }} | {{ site_name }}{% endblock %}

{% block body %}

  <div class="page container d-flex flex-column p-sm-0">
    <div
      class="header container d-flex flex-column align-items-center flex-sm-row justify-content-sm-between align-items-sm-center mb-4 mb-sm-0 p-0">

      <div
        class="header__logo logo order-2 order-sm-1 flex-grow-1 d-flex justify-content-start justify-content-md-center">
        <img src="{{ site_url }}/assets/img/bliss-logotype.png"
             srcset="{{ site_url }}/assets/img/bliss-logotype@2x.png 2x, {{ site_url }}/assets/img/bliss-logotype@3x.png 3x"
             width="89"
             height="102" alt="">
      </div><!-- header__logo -->

      <div class="header__phone phone order-1 order-sm-2 d-flex align-items-center justify-content-end">
        <div class="phone__number d-flex align-items-center">
          <span class="icon icon-phone"></span>
          <a href="tel:{{ phone_link }}" class="link link_black">{{ phone_number }}</a>
        </div>
      </div><!-- header__phone -->

    </div><!-- header -->

    <div class="code-sms message container mt-5 mb-5 p-0">
      <div class="d-flex flex-column align-items-center">

        <form id="js-formCodeSms" class="code-sms__form  d-flex flex-column align-items-center"
              action="{{ form_action }}"
              method="post" enctype="multipart/form-data">

          <label for="js-formCodeSmsInputCode" class="message__title text-center">Введите код из смс</label>
          <input id="js-formCodeSmsInputCode" class="message__input input" name="sms_code" type="text"
                 pattern="[0-9]*" placeholder="****" required>

          <label for="js-formCodeSmsInputTerms" class="checkbox-wrapper message__checkbox d-flex">
            <input id="js-formCodeSmsInputTerms" class="checkbox mt-1" type="checkbox" name="terms">
            <span class="checkbox-custom"></span>

            <span class="checkbox-label message__text text-center">
                <span>Я подтверждаю, что ознакомился с </span>
                <a href="{{ terms_link }}" class="document link link_black" target="_blank" rel="noopener">Условиями хранения</a>
                <span>персональных данных и даю свое согласие на их обработку.</span>
              </span>
          </label>

          <button id="js-formCodeSmsBtnSubmit" class="btn btn_primary btn_big message__btn" type="submit" disabled>
            Далее
          </button>

        </form>

        <div class="message__text code-sms__info text-center">
          <a id="js-codeSmsRepeatSend" href="javascript:void(0);" class="link link_disabled text-center d-block"
             data-link-action="{{ link_action }}">Запросить повторную отправку
            SMS</a>
          <span> можно будет через</span>
          <span id="js-codeSmsTimer" class="d-inline-block" data-timer-end="{{ timer_end }}"></span>
        </div>

      </div>

    </div><!-- code-sms -->

    <div
      class="footer container d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between align-items-center p-0">

      <div class="footer__logo logo flex-grow-sm-1 d-flex justify-content-sm-start mb-4 mb-sm-0">
        <img src="{{ site_url }}/assets/img/bliss-logotype-txt.png"
             srcset="{{ site_url }}/assets/img/bliss-logotype-txt@2x.png 2x, assets/img/bliss-logotype-txt@3x.png 3x"
             width="152" height="44" alt="">
      </div><!-- footer__logo -->

      <div class="footer__phone phone d-flex align-items-center justify-content-end">
        <div class="phone__number d-flex align-items-center">
          <span class="icon icon-phone"></span>
          <a href="tel:{{ phone_link }}" class="link link_black">{{ phone_number }}</a>
        </div>
      </div><!-- footer__phone -->

    </div><!-- footer -->

  </div><!-- page-content -->

{% endblock %}
