html
  height: 100%
  margin: 0
  padding: 0

.body
  min-width: 320px
  height: 100%
  font-family: $font-stack
  background-color: $light-grey
  background-image: url("../img/page-background.png")
  background-repeat: repeat-y

  img
    width: 100%
    height: auto

.body_home
  background-image: url("../img/page-background-3.png"), url("../img/page-background-2.png")
  background-repeat: no-repeat, repeat-y
